@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

*{
    margin:0;
    padding:0;
    
}

body {
    background: rgb(255,126,9);
    background: linear-gradient(90deg, rgba(255,126,9,1) 
    0%, rgba(247,213,0,1) 52%, rgba(252,208,69,0.9262298669467787) 67%);
    color: white;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header h1 {
    text-align: center;
    letter-spacing: 5.0px;
}

h3 {
    color: black;
}

#navbar {
    font-size: 24px;
    max-width: 100%;
    padding-right: 2%;
    word-spacing: 1rem;
}

nav ul {
    display: flex;  /* enable flexbox for the list */
    justify-content: space-between;  /* evenly distribute the space between the list items */
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding-top: 1%;
}


.zoom {
    transition: transform .2s; /* Animation */
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
  }

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.zoom:hover {
    text-decoration: none;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

a:active {
    text-decoration: none;
}

img.animated-gif {
    width: 480px;
    height: 360px;
} 

.container-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    max-width: 100%;
    background-color: black;

}

.container-2 {
    text-align: center;
    
}

.container-2 h2 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.container-2 h3 {
    padding-bottom: 3%;
}

.container-3 {
    display: flex;
    
}

.container-3 h4 {
    padding-bottom: 2%;
}

.box-3 {
    flex-direction: row;
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    flex: 2;
    font-size: 32px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.box-4 {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
}

.container-4 {
    display: flex;
    justify-content: center;
}

#centerimage {
    align-self: center;
}

#centerimage img {
    margin: 0 auto;
}
    